.App {
    --header_height: 60px;
    /*padding: 131px 70px 0px 70px;*/
}

.hw {
    padding: 24px 70px 32px 70px;
}

.hwTitle {
    padding: 131px 0px 10px 70px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}
.line1{
    height: 1px;
    width: 100%;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
}